/*Text color and background color selection*/
$txtcolor: #3d3d3d;
$bgcolor: #6d6d6d;

body {
  color: $txtcolor;
  background-color: $bgcolor;
}

p {
  color: $txtcolor;
}

h2 {
  background-color: $bgcolor;
}
