/*Text color and background color selection*/
$text-color: #3d3d3d;
$bac-color: #6d6d6d;
body {
  color: $text-color;
  background-color: $bac-color;
}
p {
  color: $text-color;
}
h1 {
  background-color: $bac-color;
}
